.env
.env.*
!.env.example
vendor
node_modules
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/app/*
.git
.github
.gitignore
.dockerignore
docker-compose.yml
compose.yaml
compose.override.yml
README.md
tests
database/*.sqlite
.phpunit.result.cache
.phpunit.cache
